<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title">Parent Task List:</h4>
    </div>
    <div class="modal-body">
      <div>
        <input type="text" class="form-control" (input)="filterItem()" [(ngModel)]="searchText" style="display: inline;"
          placeholder="Search...">
      </div>
      <div *ngFor="let task of filteredList">
        <hr style="border-top: dotted 1px;" />
        <input type="text" class="form-control" style="width: 25%; display: inline; margin-left: 1%;" disabled value={{task.ParentTask}}>

        <button class="btn btn-default" (click)="SelectTask(task)" style="width: 15%; display: inline; margin-left: 1%;">Select</button>
      </div>

      <div *ngIf="parentTaskListCount==0">
        <label>There are no Parent tasks</label>
      </div>
    </div>
  </div>
</div>
